SAT.Services/Web References/RetencionService/wcfTimbradoRetenciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TimbrarRetencionXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlRetencion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenAutenticacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbrarRetencionXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimbrarRetencionXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbrarRetencionXMLV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlRetencion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenAutenticacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbrarRetencionXMLV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimbrarRetencionXMLV2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>