SW-sdk-45/Web References/WSRetention/wcfTimbradoRetenciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcfTimbradoRetenciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wcfTimbradoRetencionesEndpoint1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfTimbradoRetenciones_TimbrarRetencionXML_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarRetencionXML" />
  </wsdl:message>
  <wsdl:message name="IwcfTimbradoRetenciones_TimbrarRetencionXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarRetencionXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfTimbradoRetenciones_TimbrarRetencionXMLV2_InputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarRetencionXMLV2" />
  </wsdl:message>
  <wsdl:message name="IwcfTimbradoRetenciones_TimbrarRetencionXMLV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimbrarRetencionXMLV2Response" />
  </wsdl:message>
  <wsdl:portType name="IwcfTimbradoRetenciones">
    <wsdl:operation name="TimbrarRetencionXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXML" message="tns:IwcfTimbradoRetenciones_TimbrarRetencionXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXMLResponse" message="tns:IwcfTimbradoRetenciones_TimbrarRetencionXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimbrarRetencionXMLV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXMLV2" message="tns:IwcfTimbradoRetenciones_TimbrarRetencionXMLV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXMLV2Response" message="tns:IwcfTimbradoRetenciones_TimbrarRetencionXMLV2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wcfTimbradoRetencionesEndpoint" type="tns:IwcfTimbradoRetenciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarRetencionXML">
      <soap:operation soapAction="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarRetencionXMLV2">
      <soap:operation soapAction="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXMLV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wcfTimbradoRetencionesEndpoint1" type="tns:IwcfTimbradoRetenciones">
    <wsp:PolicyReference URI="#wcfTimbradoRetencionesEndpoint1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbrarRetencionXML">
      <soap:operation soapAction="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimbrarRetencionXMLV2">
      <soap:operation soapAction="http://tempuri.org/IwcfTimbradoRetenciones/TimbrarRetencionXMLV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfTimbradoRetenciones">
    <wsdl:port name="wcfTimbradoRetencionesEndpoint" binding="tns:wcfTimbradoRetencionesEndpoint">
      <soap:address location="http://cfdi.smartweb.com.mx/Timbrado/wcfTimbradoRetenciones.svc" />
    </wsdl:port>
    <wsdl:port name="wcfTimbradoRetencionesEndpoint1" binding="tns:wcfTimbradoRetencionesEndpoint1">
      <soap:address location="https://sufacturacion2k/Timbrado/wcfTimbradoRetenciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>